<link rel="stylesheet" type="text/css"
  href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
  href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">


<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8"
  src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #f2ecf3;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: red;" href="#">{{userName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: red;" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav  mb-2 mb-lg-0 " style="float: right;">
        <li class="nav-item mr-auto">
          <a class="nav-link active" style="color: red;" href="/logout">Log Out</a>
        </li>
      </ul>
      <div class="mr-auto"></div>
      <form class="form-inline my-2 my-lg-0" style="float: right;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search " aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <table id="myTable" class="table mt-5" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="col" style="color: red;">No</th>
        <th scope="col"  style="color: red;">Name</th>
        <th scope="col"  style="color: red;">Email</th>
        <th scope="col"  style="color: red;">Role</th>
        <th scope="col"  style="color: red;">Edit</th>
        <th scope="col"  style="color: red;">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <th scope="row" style="color: rgb(252, 7, 158);">{{@index}}</th>
        <td  style="color: rgb(252, 7, 158);">{{this.name}}</td>
        <td style="color: rgb(252, 7, 158);">{{this.email}}</td>
        <td style="color: rgb(252, 7, 158);">user</td>
        <td><button class="btn btn-secondary"><a href="/edit/{{this._id}}" class="text-white"
              style="text-decoration: none;">Edit</a></button></td>
        <td><button class="btn btn-danger"><a href="/delete/{{this._id}}" class="text-white"
              style="text-decoration: none;" >Delete</a></button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br>
  <br>
  <div class="row " style="float: right;">
    <button class="btn btn-success"><a href="/newUser" class="text-white">Create User</a></button>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
</script>